/* poppins */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"); */

body {
	text-align: center;
}

.img-container {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-right: 30px;
}

.card.top {
	border-top: solid 10px #ea5454;
	margin-bottom: 30px;
}

.card.bottom {
	border-top: solid 10px #fcae4a;
}

.cards {
	display: flex;
	justify-content: center;
}

.card {
	width: 350px;
	height: 250px;
	margin-right: 30px;
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 3px 3px 5px 6px #ccc;
	border-radius: 10px;
}

.card h3 {
	font-family: Poppins;
	font-weight: 600;
	color: #4d4f62;
	padding-top: 40px;
}

.card p {
	font-family: Poppins;
	font-weight: 200;
	color: #4d4f62;
}

.left-card {
	width: 350px;
	height: 250px;
	margin-right: 30px;
	margin-top: 150px;
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 3px 3px 5px 6px #ccc;
	border-radius: 10px;
	border-top: solid 10px #44d3d2;
}

.left-card h3 {
	font-family: Poppins;
	font-weight: 600;
	color: #4d4f62;
	padding-top: 40px;
}

.left-card p {
	font-family: Poppins;
	font-weight: 200;
	color: #4d4f62;
}

.right-card {
	width: 350px;
	height: 250px;
	margin-right: 30px;
	margin-top: 150px;
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 3px 3px 5px 6px #ccc;
	border-radius: 10px;
	border-top: solid 10px #549ef2;
}

.right-card h3 {
	font-family: Poppins;
	font-weight: 600;
	color: #4d4f62;
	padding-top: 40px;
}

.right-card p {
	font-family: Poppins;
	font-weight: 200;
	color: #4d4f62;
}

.header {
	color: #4d4f62;
}

.header h1 {
	font-family: Poppins;
	font-size: 36px;
	font-weight: 200;
}

.header h2 {
	font-family: Poppins;
	font-size: 36px;
	font-weight: 600;
	margin-top: -40px;
}

.header p {
	font-family: Poppins;
	font-weight: 400;
}
